[submodule "bashmarks"]
	path = bashmarks
	url = git://github.com/huyng/bashmarks.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git@github.com:u1tnk/neocomplcache.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
