[submodule "bashmarks"]
	path = bashmarks
	url = git://github.com/huyng/bashmarks.git
[submodule ".vim/bundle/neobundle"]
	path = .vim/bundle/neobundle
	url = git://github.com/Shougo/neobundle.vim.git
[submodule "zaw"]
	path = zaw
	url = git://github.com/zsh-users/zaw.git
