[user]
    name = yuichi tanaka
    email = u1tnk1123@gmail.com
[core]
	safecrlf = false
	quotepath = false
	autocrlf = input
[diff]
    color = auto
    rename = copy
[color]
	ui = auto
[alias]
    co = checkout
    ci = commit -v
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    in=!sh -c 'git log ..origin/${1:-master}'
    out=!sh -c 'git log origin/${1:-master}..' -
[pager]
    color = true
[status]
    color = auto
[http]
    sslVerify = false
